[Unit]
Description=Airflow scheduler daemon
After=network.target postgresql.service
Wants=postgresql.service

[Service]
User=sthz
Group=sthz
Type=simple
ExecStart=/bin/bash /home/sthz/airflow-scheduler.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target

